[Unit]
Description=Blind Cover MQTT Agent
After=network.target

[Service]
ExecStart=/usr/local/bin/blind-cover-mqtt-agent.py
Type=simple
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

